body{
    margin: 0
}

footer * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
footer .logo2{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 0;
}
footer ul{
    list-style: none;
}
footer{
    color: #fff;
    background-color: #262626;
}
footer a{
    color: #fff;
    text-decoration: none;
}
footer .container{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em;
    align-items: center;
    text-align: center;
}

.media-icons li{
    display: inline-block;
    margin: 0.5em 0.5em 0.5em 0;
}

.media-icons a{
    font-size: 1.1em;
    width: 2em;
    height: 2em;
    border: 1px #fff solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.media-icons a:hover{
    background-color: #fff;
    color: #111;
}

footer .menu li{
    display: inline-block;
    margin: 1em;
    text-align: center;
}

footer .menu a{
    transition: 0.3s;
    font-weight: #fff;
    color: #ccc;
    cursor: pointer;
}

footer .menu a:hover{
    color: #000000;
    text-decoration: none;
}
