body{
    margin: 0;
    font-family: sans-serif;
    background-color: #e4e4e4;
}

.buy{
  background-color: #0b0b0b;
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.price{
    color: #43526b;
}
